body {
	background-image: url('image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#overlay,body {
	opacity: 0.75;
	color: white;
	width: 100%;
	height: 150%;
	-webkit-animation: color_change 5s infinite alternate;
	-moz-animation: color_change 5s infinite alternate;
	-ms-animation: color_change 5s infinite alternate;
	-o-animation: color_change 5s infinite alternate;
	animation: color_change 5s infinite alternate;
}

#overlay a {
	color: white!important;
}

@-webkit-keyframes color_change {
	0% {
		background-color: #1abc9c;
	}

	25% {
		background-color: #f1c40f;
	}

	50% {
		background-color: #e74c3c;
	}

	75% {
		background-color: #3498db;
	}

	100% {
		background-color: #9b59b6;
	}
}

@-moz-keyframes color_change {
	0% {
		background-color: #1abc9c;
	}

	25% {
		background-color: #f1c40f;
	}

	50% {
		background-color: #e74c3c;
	}

	75% {
		background-color: #3498db;
	}

	100% {
		background-color: #9b59b6;
	}
}

@-ms-keyframes color_change {
	0% {
		background-color: #1abc9c;
	}

	25% {
		background-color: #f1c40f;
	}

	50% {
		background-color: #e74c3c;
	}

	75% {
		background-color: #3498db;
	}

	100% {
		background-color: #9b59b6;
	}
}

@-o-keyframes color_change {
	0% {
		background-color: #1abc9c;
	}

	25% {
		background-color: #f1c40f;
	}

	50% {
		background-color: #e74c3c;
	}

	75% {
		background-color: #3498db;
	}

	100% {
		background-color: #9b59b6;
	}
}

@keyframes color_change {
	0% {
		background-color: #1abc9c;
	}

	25% {
		background-color: #f1c40f;
	}

	50% {
		background-color: #e74c3c;
	}

	75% {
		background-color: #3498db;
	}

	100% {
		background-color: #9b59b6;
	}
}

a {
	color: white;
}

#buttons {
	margin-top: 10px;
}

button {
	background-color: transparent;
	color: white;
	border: solid white 1px;
	border-radius: 3px;
	margin: 10px!important;
	padding: 5px 10px;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: white;
	-webkit-animation: color_change_1 3s infinite alternate;
	-moz-animation: color_change_1 3s infinite alternate;
	-ms-animation: color_change_1 3s infinite alternate;
	-o-animation: color_change_1 3s infinite alternate;
	animation: color_change_1 3s infinite alternate;
}

@-webkit-keyframes color_change_1 {
	0% {
		color: #1abc9c;
	}

	25% {
		color: #f1c40f;
	}

	50% {
		color: #e74c3c;
	}

	75% {
		color: #3498db;
	}

	100% {
		color: #9b59b6;
	}
}

@-moz-keyframes color_change_1 {
	0% {
		color: #1abc9c;
	}

	25% {
		color: #f1c40f;
	}

	50% {
		color: #e74c3c;
	}

	75% {
		color: #3498db;
	}

	100% {
		color: #9b59b6;
	}
}

@-ms-keyframes color_change_1 {
	0% {
		color: #1abc9c;
	}

	25% {
		color: #f1c40f;
	}

	50% {
		color: #e74c3c;
	}

	75% {
		color: #3498db;
	}

	100% {
		color: #9b59b6;
	}
}

@-o-keyframes color_change_1 {
	0% {
		color: #1abc9c;
	}

	25% {
		color: #f1c40f;
	}

	50% {
		color: #e74c3c;
	}

	75% {
		color: #3498db;
	}

	100% {
		color: #9b59b6;
	}
}

@keyframes color_change_1 {
	0% {
		color: #1abc9c;
	}

	25% {
		color: #f1c40f;
	}

	50% {
		color: #e74c3c;
	}

	75% {
		color: #3498db;
	}

	100% {
		color: #9b59b6;
	}
}
